<!DOCTYPE html>
<html lang="en">


<%- include ("./template/header.ejs") %>


  <!--Main layout-->
  <main style="margin-top: 58px">
    <div class="container pt-4">

      <!--Section: Sales Performance KPIs-->
      <section class="mb-4">
        <div class="card">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
              <strong>Customer Accounts</strong>
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
		<div class="customerAccounts"></div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Sales Performance KPIs-->
        <div class="card">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
              <strong>Create/Modify Account</strong>
            </h5>
          </div>
          <div class="card-body">
          <div class="d-flex justify-content-center">
          <form action="/admin/api/createAccount" method="POST" id="accountCreation" class="row row-cols-lg-auto g-3 align-items-center onsubmit="target_popup(this)"">
	  <div class="col-12">
	    <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
	    <div class="input-group">
	      <div class="input-group-text" id="accountIdLabel">@</div>
	      <input type="hidden" id="accountId" name="accountId">
	      <input type="text" class="form-control" id="accountName" name="accountName" placeholder="Account Name" />
	    </div>
	  </div>

	  <div class="col-12">
	    <button type="submit" id="deleteAccount" formaction="/admin/api/deleteAccount" class="btn btn-danger" disabled>Delete Account</button>
	  </div>

	  <div class="col-12">
	   <button type="button" id="resetForm" onClick="resetForm()" class="btn btn-warning" disabled>Clear Form</button>
	  </div>

	  <div class="col-12">
	    <button type="submit" class="btn btn-primary" id="customerAccountButton">Create Account</button>
	  </div>


	  </form>
          </div>
          </div>
        </div>
      </section>


  </main>
  <!--Main layout-->
  <!-- MDB -->
  <script type="text/javascript" src="/admin/resources/js/mdb.min.js"></script>
  <!-- Custom scripts
  <script type="text/javascript" src="/admin/resources/js/admin.js"></script> -->
  <script type="text/javascript" src="/admin/resources/js/customertable.js"></script>

</body>

</html>
