      <section class="mb-4">
        <div class="card">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
              <strong>Create/Modify <%= obj.cardHeaderName %></strong>
            </h5>
          </div>
          <div class="card-body">
          <div class="d-flex justify-content-center">
