<form action="/admin/api/createDevice" method="POST" id="formUpdateDeviceCreation" onsubmit="target_popup(this)"
	_lpchecked="1">

	<!-- Section 1: Contains Device Name, Mac Addr, Password -->
	<div class="row pb-3">
		<div class="col-md">
			<div class="form-group">
				<label class="control-label" for="deviceName">Device Name</label>
				<input id="deviceName" name="deviceName" type="text" placeholder="IntelliComp Test Demo Fax"
					class="form-control input-md" required=""
					style="background-image: none; background-repeat: initial; background-attachment: initial; background-size: initial; background-position: initial; cursor: auto;">
				<small>Provide a friendly name for the device.</small>
			</div>
		</div>
		<div class="col-md">
			<div class="form-group">
				<label class="control-label" for="deviceMacaddr">MAC Address</label>
				<input id="deviceMacaddr" name="deviceMacaddr" type="text" placeholder="00112233CCFF"
					class="form-control input-md">
				<small>Provide the physical MAC Address of the gateway.</small>
			</div>
		</div>
	</div>
	<div class="row pb-3">
		<div class="col-md">
			<div class="form-group">
				<label class="col-md control-label" for="devicePassword">Device Password</label>
				<input id="devicePassword" name="devicePassword" type="password" placeholder="Password1"
					class="form-control input-md" required=""
					style="background-image: none; background-repeat: initial; background-attachment: initial; background-size: initial; background-position: initial; cursor: auto;">
				<small>Provide the authentication password for the device to communicate.</small>
			</div>
		</div>
	</div>

	<!-- Section 2: Contains Client, and Phone Numbers -->
	<div class="row pb-3">
		<div class="col-md">
			<div class="form-group">
				<label class="control-label" for="clientDropdownSelect">Select Client</label>
				<select id="clientDropdownSelect" title="...." name="clientId" class="form-control selectpicker"
					data-live-search="true"></select>
			</div>
		</div>
	</div>
	<div class="row pb-3">
		<div class="col-md">
			<div class="form-group">
				<label class="control-label" for="deviceLine1">Line 1</label>
				<div class="input-group">
					<div class="input-group-text">#</div>
					<input id="deviceLine1" name="deviceLine1" class="form-control" placeholder="+14105554932"
						type="text">
				</div>
				<small>Select the client the device will be listed under.</small>
			</div>
		</div>
		<div class="col-md">
			<div class="form-group">
				<label class="control-label" for="deviceLine2">Line 2</label>
				<div class="input-group">
					<div class="input-group-text">#</div>
					<input id="deviceLine2" name="deviceLine2" class="form-control" placeholder="+14105554933"
						type="text">
				</div>
				<small>Provide the fax number for line 2.</small>
			</div>
		</div>
	</div>

	<!-- Section 3: Contains buttons for form submission -->
	<div class="row text-center">
		<div class="col-md">
			<button id="button1id" name="button2id" class="btn btn-danger ripple-surface">Delete Device</button>
		</div>
		<div class="col-md">
			<button id="button2id" name="button3id" class="btn btn-warning ripple-surface">Reset Form</button>
		</div>
		<div class="col-md">
			<button id="button3id" name="button1id" class="btn btn-primary ripple-surface">Create Device</button>
		</div>
	</div>
</form>